# Eufy Security Siren Integration development environment variables
APP_ENV=development

# Set the config file to use
APP_CONFIG=configs/development.yaml

# STMP credentials
SMTP_SERVER=op://Dev/Gmail SMTP/SMTPServer
SMTP_USERNAME=op://Dev/Gmail SMTP/username
SMTP_PASSWORD="op://Dev/Gmail SMTP/password"
SMTP_SEND_TO_EMAIL=op://Dev/Gmail SMTP/SendTo
