# Systemd service file for Eufy Security Siren Integration
[Unit]
Description=Eufy Security Siren Integration
After=network.target
StartLimitIntervalSec=20
StartLimitBurst=5

[Service]
User=pi
ExecStart=/home/pi/scripts/eufy-siren/scripts/launch.sh
WorkingDirectory=/home/pi/scripts/eufy-siren
StandardOutput=inherit
StandardError=inherit
EnvironmentFile=/home/pi/.config/op/service-account-token
Environment=PATH=/home/pi/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Only restart on non-zero exit code
Restart=on-failure
# Wait 10 seconds before restarting
RestartSec=10

[Install]
WantedBy=multi-user.target
