# Eufy Security Siren Integration pytest environment variables
APP_ENV=pytest

# STMP credentials
SMTP_SERVER=op://Dev/Gmail SMTP/SMTPServer
SMTP_USERNAME=op://Dev/Gmail SMTP/username
SMTP_PASSWORD="op://Dev/Gmail SMTP/password"
SMTP_SEND_TO_EMAIL=op://Dev/Gmail SMTP/SendTo
